<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm ">
    <div class="container-fluid bg-gray ">
      <!-- Logo / Nom de l'app -->
      <a class="navbar-brand" href="#">
        <img src="assets/Groopoo 1.png" alt="Groopoo" width="70" height="40">
      </a>
      <!-- Bouton menu hamburger mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
        aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Menu -->
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item"><a class="nav-link" href="#">Projets</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Importer Groupes</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Données</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Utilisateurs</a></li>
        </ul>
         <!-- Menu utilisateur -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center text-dark"
            href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false"
            style="list-style: none">
           <i class="bi bi-person-circle me-2"></i>
           <span>M.Sangaré</span>
         </a>
        </li>
      </div>
    </div>
  </nav>


 

   
  