<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
</head>
<body>
  
  <footer class="footer text-center py-3">
    <div class="container">
      <p class="mb-1 text-white small">
        Un service de <strong>MEGA OCTET SOLUTION</strong>,<br />
        Agence de création de solutions digitales.
      </p>
      <p class="mb-0 text-white-50 small">© 2025 Tous droits réservés.</p>
    </div>
  </footer>
  

</body>
</html>