<div class="container-fluid min-vh-100">
    <app-nav></app-nav>

    <div class="mt-5 row justify-content-center align-items-center h-100">
        <div class="flex-center my-3">
            <h4 class="underline-bold">Criteres Form</h4>
        </div>

        <div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mx-auto w-50">
                    <p class="me-3 fs-5">Niveau</p>
                </div>
                <div formArrayName="niveau">
                    <div *ngFor="let pair of niveau.controls; let i = index" [formGroupName]="i" class="flex-center mt-2">
                        <select formControlName="choix" class=" form-select form-select-sm col-md-2 me-2" aria-label=".form-select-sm example">
                            <option selected value="0">...</option>
                            <option *ngFor="let item of nivResponse?.results" [value]="item.id">{{ item.libelle }}</option>
                        </select>
                        <select formControlName="taille" class=" form-select form-select-sm col-md-2 me-2" aria-label=".form-select-sm example">
                            <option *ngFor="let option of getRange()" [value]="option">{{ option }}</option>
                        </select>
                        <a (click)="removePair('niveau', i)" class="btn btn-danger text-white" role="button">X</a>
                    </div>
                    <div class="mt-2 w-50 mx-auto">
                        <a (click)="addPair('niveau')" class="btn btn-success text-white me-3" role="button">Ajouter une ligne</a>
                    </div>
                </div> 

                <div class="mx-auto w-50 mt-2">
                    <p class="me-3 fs-5">Filiere</p>
                </div>
                <div formArrayName="filiere">
                    <div *ngFor="let pair of filiere.controls; let i = index" [formGroupName]="i" class="flex-center mt-2">
                        <select formControlName="choix" class=" form-select form-select-sm col-md-2 me-2" aria-label=".form-select-sm example">
                            <option selected value="0">...</option>
                            <option *ngFor="let item of filResponse?.results" [value]="item.id">{{ item.libelle }}</option>
                        </select>
                        <select formControlName="taille" class=" form-select form-select-sm col-md-2 me-2" aria-label=".form-select-sm example">
                            <option *ngFor="let option of getRange()" [value]="option">{{ option }}</option>
                        </select>
                        <a (click)="removePair('filiere', i)" class="btn btn-danger text-white" role="button">X</a>
                    </div>
                    <div class="mt-2 w-50 mx-auto">
                        <a (click)="addPair('filiere')" class="btn btn-success text-white me-3" role="button">Ajouter une ligne</a>
                    </div>
                </div> 

                <div class="mx-auto w-50 mt-2">
                    <p class="me-3 fs-5">Classe</p>
                </div>
                <div formArrayName="classe">
                    <div *ngFor="let pair of classe.controls; let i = index" [formGroupName]="i" class="flex-center mt-2">
                        <select formControlName="choix" class=" form-select form-select-sm col-md-2 me-2" aria-label=".form-select-sm example">
                            <option selected value="0">...</option>
                            <option *ngFor="let item of classeResponse?.results" [value]="item.id">{{ item.libelle }}</option>
                        </select>
                        <select formControlName="taille" class=" form-select form-select-sm col-md-2 me-2" aria-label=".form-select-sm example">
                            <option *ngFor="let option of getRange()" [value]="option">{{ option }}</option>
                        </select>
                        <a (click)="removePair('classe', i)" class="btn btn-danger text-white" role="button">X</a>
                    </div>
                    <div class="mt-2 w-50 mx-auto">
                        <a (click)="addPair('classe')" class="btn btn-success text-white me-3" role="button">Ajouter une ligne</a>
                    </div>
                </div> 

                <div class="mx-auto w-50 mt-2">
                    <p class="me-3 fs-5">Sexe</p>
                </div>
                <div formArrayName="sexe">
                    <div *ngFor="let pair of sexe.controls; let i = index" [formGroupName]="i" class="flex-center mt-2">
                        <select formControlName="choix" class=" form-select form-select-sm col-md-2 me-2" aria-label=".form-select-sm example">
                            <option selected value="M">M</option>
                            <option selected value="F">F</option>
                        </select>
                        <select formControlName="taille" class=" form-select form-select-sm col-md-2 me-2" aria-label=".form-select-sm example">
                            <option *ngFor="let option of getRange()" [value]="option">{{ option }}</option>
                        </select>
                        <a (click)="removePair('sexe', i)" class="btn btn-danger text-white" role="button">X</a>
                    </div>
                    <div class="mt-2 w-50 mx-auto">
                        <a (click)="addPair('sexe')" class="btn btn-success text-white me-3" role="button">Ajouter une ligne</a>
                    </div>
                </div>
                
                <div class="mx-auto w-50 mt-2">
                    <p class="me-3 fs-5">Nationalite</p>
                </div>
                <div formArrayName="pays">
                    <div *ngFor="let pair of pays.controls; let i = index" [formGroupName]="i" class="flex-center mt-2">
                        <select formControlName="choix" class=" form-select form-select-sm col-md-2 me-2" aria-label=".form-select-sm example">
                            <option *ngFor="let item of nations" [value]="item.code">{{ item.nom }}</option>
                        </select>
                        <select formControlName="taille" class=" form-select form-select-sm col-md-2 me-2" aria-label=".form-select-sm example">
                            <option *ngFor="let option of getRange()" [value]="option">{{ option }}</option>
                        </select>
                        <a (click)="removePair('pays', i)" class="btn btn-danger text-white" role="button">X</a>
                    </div>
                    <div class="mt-2 w-50 mx-auto">
                        <a (click)="addPair('pays')" class="btn btn-success text-white me-3" role="button">Ajouter une ligne</a>
                    </div>
                </div>

                <div class="flex-center mt-2 w-50 mx-auto mb-5">
                    <button type="submit" [routerLink]="['/app/liste-membre']" routerLinkActive="active" class="btn btn-info mb-5">Confirmer</button>
                </div>
            </form>
        </div>
        
    </div>

    <app-foot></app-foot>
</div>

