<div class="container-fluid min-vh-100">
    <app-nav></app-nav>

    <div class="mt-5 row justify-content-center align-items-center h-100">
        <div class="flex-center flex-column">
            <h3 class="underline-bold">Importer des groupes</h3>
            <p class="w-50 fst-italic text-center flex-center">Après avoir téléchargé le template, saisissez les détails du groupe en fonction des en-têtes disponibles, puis supprimez les en-têtes comme indiqué dans l'exemple du template.</p>
        </div>
        <div class="flex-column w-75">
            <h5 class="mt-5">Televerser un fichier excel</h5>
            <div *ngIf="error" class="my-1">
                <p class="fw-bold text-danger">Erreur de la liste fournit </p>
            </div>

            <div class="my-1">
                <p class="fw-bold">{{fileName}}</p>
            </div>
            <div class="d-flex">
                <div class="file-upload w-50 mb-2">
                    <div class="file-select">
                      <div class="file-select-button" id="fileName">Choisir Fichier</div>
                      <div class="file-select-name" id="noFile">Aucun choisi...</div> 
                      <input type="file" (change)="onFileSelected($event)" name="chooseFile" id="chooseFile">
                    </div>
                </div>
                <div *ngIf="user?.role == 'ROLE_ADMIN'" class="input-group col-md-2">
                    <select [(ngModel)]="ecole" (ngModelChange)="saveEcole($event)" class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option selected value="0">Choisir l'organisation...</option>
                      <option *ngFor="let item of ecoleResponse?.results" [value]="item.id">{{ item.libelle }}</option>
                    </select>
                </div>
                <div class="input-group col-md-2">
                    <select [(ngModel)]="annee" (ngModelChange)="saveAnnee($event)" class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option selected value="0">Choisir l'année...</option>
                      <option *ngFor="let item of anneeResponse?.results" [value]="item.id">{{ item.libelle }}</option>
                    </select>
                </div>
            </div>
            <div class="d-flex">
                <a id="orange-btn" class="btn btn-orange col-md-2 me-2" 
                [class.disabled]="ecole === 0 || !fileName.trim() || annee == 0 || etudiantGroups.length < 1"
                (click)="onSubmit()" role="button">Importer les groupes</a>
                <a (click)="printTemplate()" class="btn btn-info col-md-2 text-white" 
                role="button">Télécharger template</a>
            </div>
        </div>

        <hr class="w-75 mx-auto simple-line mt-3">
        
    </div>

    <app-foot></app-foot>
</div>

