<div class="mt-5 row justify-content-center align-items-center h-100">
    <div class="flex-center my-3">
        <h4 class="underline-bold">Gérer les coachs</h4>
    </div>

    <div class="flex-center my-3">
        <input type="text" [(ngModel)]="keyword" class="form-control input-black-border col-md-2 me-2" placeholder="Recherche...">
        <select [(ngModel)]="ecole" 
        class="form-select col-md-3 me-2" aria-label=".form-select-sm example">
          <option selected value="0">organisation...</option>
          <option *ngFor="let item of ecoleResponse?.results" [value]="item.id">{{ item.libelle }}</option>
        </select>
        <a id="orange-btn" class="btn btn-success col-md-1 me-4" (click)="filter(0, keyword, ecole)" role="button" style="color: white;">
            Rechercher</a>
        <a class="btn btn-secondary col-md-1 me-2" (click)="refresh(); keyword = ''; ecole =0 " 
        role="button" style="color: white;">
            Réinitialiser</a>    
            
        <a class="btn btn-info col-md-1" data-bs-toggle="modal" data-bs-target="#addCoachModal" 
              role="button" style="color: white;">
              Ajouter</a>
    </div>

    <div class="flex-center">
      <table class="table col-md-10">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Noms</th>
              <th scope="col">Tel</th>
              <th scope="col">Email</th>
              <th scope="col">Etat</th>
              <th scope="col">Organisation</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (item of coachResponse?.results; track $index){
             <tr>
                <th scope="row">{{item.nom}} {{item.prenom}}</th>
                <td>{{item.tel}}</td>
                <td>{{item.email}}</td>
                <td>{{item.etat}}</td>
                <td>{{item.ecole}}</td>
                <td>
                  <a (click)="setCoachModif(item.id)"
                  class="btn btn-secondary col-md-4 me-2" 
                  data-bs-toggle="modal" data-bs-target="#addCoachModal" 
                  role="button" style="color: white;">
                      Modifier</a>
                  <a (click)="changeEnt(item.id)" class="btn btn-danger" 
                  data-bs-toggle="modal" data-bs-target="#ynModal"
                  role="button" style="color: white;">
                    Supprimer</a>
                </td>
             </tr> 
            }
          </tbody>
      </table>
    </div>

    <div class="pagination-div" style="margin-bottom: 10rem;">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li *ngIf="coachResponse && coachResponse.currentPage !== undefined" class="page-item" [ngClass]="{'disabled': coachResponse.currentPage === 0}">
            <a class="page-link" (click)="paginate(coachResponse.currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          @for (item of getPageRange(coachResponse?.currentPage, coachResponse?.totalPages); track $index){
            <li class="page-item" [ngClass]="{'active':item-1==coachResponse?.currentPage}">
              <a (click)="paginate(item - 1)" class="page-link">{{item}}</a>
            </li>
          }
              
          <li *ngIf="coachResponse && coachResponse.currentPage !== undefined" class="page-item" [ngClass]="{'disabled': coachResponse.currentPage +1 === coachResponse.totalPages}">
            <a class="page-link" (click)="paginate(coachResponse.currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div> 

    <!-- Modal coach-add-->
    <div class="modal fade" id="addCoachModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content row">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter/Modifier un Coach</h5>
              <button (click)="reloadPage()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form [formGroup]="coachForm" class="col-md-10">
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label custom-label" for="nom">Nom</label>
                  <input required id="nom" formControlName="nom"
                  name="nom" class="form-control form-control-lg custom-input" placeholder="Entrez le nom..." />
                  <div *ngIf="nomControl?.invalid && nomControl?.touched && !ajout" class="text-danger">
                      Le nom est requis.
                  </div>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label custom-label" for="prenom">Prenom</label>
                  <input required id="prenom" formControlName="prenom"
                  name="prenom" class="form-control form-control-lg custom-input" placeholder="Entrez le prenom..." />
                  <div *ngIf="prenomControl?.invalid && prenomControl?.touched && !ajout" class="text-danger">
                      Le prenom est requis.
                  </div>
                </div>
                <div data-mdb-input-init class="form-outline mb-4" style="width: 100%; max-width: 22rem">
                  <label class="form-label" for="tel">Tel:</label>
                  <input type="tel" id="tel" class="form-control"
                  formControlName="tel" placeholder="+221 77-000-00-00"
                  data-mdb-input-mask-init data-mdb-input-mask="+221 77-000-00-00" />
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="email">Adresse email:</label>
                    <input formControlName="email" type="email" id="email" 
                        class="form-control" />
                    <div *ngIf="emailControl?.touched && emailControl?.errors?.['required']" class="text-danger">
                        L'email est requis.
                    </div>
                </div>
                <div class="mb-4">
                    <label class="form-label">Organisation:</label>
                    <select formControlName="ecole" class=" form-select form-select-sm me-2" aria-label=".form-select-sm example">
                        <option [value]="0" selected>choisir l'organisation...</option>
                        <option *ngFor="let item of ecoleResponse?.results" [value]="item.id">{{ item.libelle }}</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label class="form-label me-3">Etat: </label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" formControlName="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Debutant</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" formControlName="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Moyen</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" formControlName="option3">
                        <label class="form-check-label" for="inlineCheckbox3">Senior</label>
                    </div>
                </div>
              </form>

              <div *ngIf="ajout" class="text-success">
                  L'ajout/modification a été fait
              </div>
              <div *ngIf="error" class="text-danger">{{msg}}</div>
          </div>
          <div class="modal-footer d-flex">
              <button (click)="checkCorrect()" type="button" class="btn btn-success">Confirmer</button>
              <button (click)="reloadPage()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quitter</button>
          </div>
      </div>
      </div>
    </div>

    <!-- Modal yn-->
    <div class="modal fade" id="ynModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content row">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 class="form-label custom-label">Voulez-vous supprimer ce coach?</h4>
            </div>
            <div class="modal-footer d-flex">
                <button (click)="modifEnt(entity, libelle)" type="button" class="btn btn-success">Oui</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
            </div>
        </div>
        </div>
    </div>

</div>
