<div class="container-fluid min-vh-100">
    <app-nav></app-nav>

    <div class="mt-2 row justify-content-center align-items-center h-100">
        <div class="flex-center my-3">
            <h4 class="underline-bold">Créer un utilisateur</h4>
        </div>
        <div *ngIf="error" class="flex-center align-items-center">
            <p class="fw-bold text-danger">Une erreur s'est produite </p>
        </div>

        <div class="flex-center my-3">
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" style="width: 22rem;">
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="email">Adresse email:</label>
                    <input formControlName="email" type="email" id="email" 
                        class="form-control" />
                    <div *ngIf="emailControl?.touched && emailControl?.errors?.['required']" class="text-danger">
                        L'email est requis.
                    </div>
                </div>
                <div class="mb-4">
                    <label class="form-label" for="email">Organisation:</label>
                    <p class="fst-italic"><small>Maintenez le bouton Ctrl/Command(Cmd) enfoncé pour activer la sélection multiple.</small></p>
                    <select multiple formControlName="ecole" class=" form-select form-select-sm  me-2" aria-label=".form-select-sm example">
                        <option [value]="0" selected>Tous</option>
                        <option *ngFor="let item of ecoleResponse?.results" [value]="item.id">{{ item.libelle }}</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label class="form-label me-3">Profil: </label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" formControlName="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Admin</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" formControlName="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Ecole-admin</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" formControlName="option3">
                        <label class="form-check-label" for="inlineCheckbox3">Visiteur</label>
                    </div>
                </div>
                <div *ngIf="ecoleId.length > 0 && op2" class="text-danger">
                    En sélectionnant « Ecole-Admin », assurez-vous de sélectionner une école correspondante.
                </div>
                <button (click)="onSubmit()" data-mdb-ripple-init type="button" 
                [class.disabled]="ecoleId.length <1 && op2"
                class="btn btn-primary btn-block mb-4">Ajouter</button>
            </form>   
        </div>
        
    </div>

    <app-foot></app-foot>
</div>
