<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <title>Projet</title>
</head>

<body>

  <app-header></app-header>
  <app-header1></app-header1>

  <!-- formulaire -->


  <div
    class="relative min-h-screen flex items-center justify-center  py-12 px-4 sm:px-6 lg:px-8 bg-no-repeat bg-cover relative items-center">
    <div class="absolute  opacity-60 inset-0 z-0"></div>
    <div class="sm:max-w-lg w-full p-10 bg-white rounded-xl z-10">
      <!-- les boutons -->
      <h1 class="text-center text-3xl font-bold text-gray-900 mb-2">Créer un Projet</h1>
      <div class="d-flex flex-wrap justify-content-center gap-3">
        <button type="button" class="btn btn-lg d-flex align-items-center"
          style="background-color:#F09D13; color:white;">
          <i class="bi bi-cloud-arrow-down-fill me-2"></i>
          Modèle de Fichier
        </button>

        <button type="button" class="btn btn-lg d-flex align-items-center"
          style="background-color:#E73664; color:white;">
          <i class="bi bi-cloud-arrow-up-fill me-2"></i>
          Fichier Excel
        </button>
      </div>


      <form class="mt-8 space-y-3 shadow p-5 radius" action="#" method="POST">
        <div class="text-center">
          <h2 class="mt-5 text-2xl font-bold text-gray-900">
            Téléverser
          </h2>
        </div>

        <div class="grid grid-cols-1 space-y-2">
          <div class="flex items-center justify-center w-full">
            <label class="flex flex-col rounded-lg border-4 border-dashed w-full h-60 p-10 group text-center">
              <div class="h-full w-full text-center flex flex-col items-center justify-center items-center  ">
                <div class="flex flex-auto max-h-48 w-2/5 mx-auto -mt-10">
                  <img class="has-mask h-36 object-center"
                    src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_52683-27130.jpg?size=338&ext=jpg"
                    alt="freepik image">
                </div>
                <p class="pointer-none text-gray-500 "><span class="text-sm">Drag and drop</span> files here <br /> or
                  <a href="" id="" class="text-blue-600 hover:underline">select a file</a> from your computer</p>
              </div>
              <input type="file" class="hidden">
            </label>
          </div>
        </div>

        <div class="grid grid-cols-1 space-y-2">
          <label class="text-sm font-bold text-gray-500 tracking-wide">Chargement en Cours - 3/3 Fichiers</label>
          <input class="text-base p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500"
            type="" placeholder="cpd-l3.CSV">
        </div>

        <div class="grid grid-cols-1 space-y-3">

          <!-- Champ 1 -->
          <label class="text-sm font-bold text-gray-500 tracking-wide">Chargement</label>
          <div class="position-relative w-100">
            <input type="text" class="form-control border-success pe-5" placeholder="cpd-l3.CSV">
            <i class="bi bi-trash position-absolute"
              style="right: 15px; top: 50%; transform: translateY(-50%); color: #dc3545; cursor: pointer;"></i>
          </div>

          <!-- Champ 2 -->
          <div class="position-relative w-100">
            <input type="text" class="form-control border-success pe-5" placeholder="cpd-l2.CSV">
            <i class="bi bi-trash position-absolute"
              style="right: 15px; top: 50%; transform: translateY(-50%); color: #dc3545; cursor: pointer;"></i>
          </div>

        </div>

        <div class="d-flex gap-3">
          <button type="button"
            class="my-5 w-full flex justify-center bg-blue-500 text-gry-50 tracking-wide
                                            font-semibold focus:outline-none focus:shadow-outline shadow-lg cursor-pointer transition ease-in duration-300"
            style="background-color: #FFD082; border-radius:10px; color:#F09D13;">
            APPERÇU
          </button>

          <button type="button"
            class="my-5 w-full flex justify-center bg-blue-500 text-gray-50 tracking-wide
                                            font-semibold focus:outline-none focus:shadow-outline shadow-lg cursor-pointer transition ease-in duration-300"
            style="background-color: #F09D13; border-radius:10px;">
            SUIVANT
          </button>
        </div>

      </form>
    </div>
  </div>

  <style>
    .has-mask {
      position: absolute;
      clip: rect(10px, 150px, 130px, 10px);
    }
  </style>

</body>

</html>
<app-footer></app-footer>