<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  
  <div class="login-container">
    <!-- Image à gauche (ou au-dessus sur mobile) -->
    <div class="imag">
      <img src="assets/photo connexion.png" alt="Image de connexion">
    </div>
  
    <!-- Formulaire à droite -->
    <div class="login-form ">
      <div class="text-center mb-4">
        <div class="logo mb-2">
          <img src="assets/Groopoo 1.png" alt="Logo" />
        </div>
        <h4 class="login-title">
          Accédez à votre compte en toute sécurité en vous connectant avec vos identifiants
        </h4>
      </div>
  
      <form>
        <!-- Champ identifiant -->
        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="bi bi-envelope"></i>
          </span>
          <input type="text" class="form-control" placeholder="Renseignez vos identifiants" required>
        </div>
  
        <!-- Champ mot de passe -->
        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="bi bi-unlock"></i>
          </span>
          <input type="password" class="form-control" id="password" placeholder="Entrez votre mot de passe" required>
          <span class="input-group-text" id="togglePassword" style="cursor: pointer;">
            <i class="bi bi-eye-fill"></i>
          </span>
        </div>
  
        <!-- Options -->
        <div class="d-flex justify-content-between align-items-center mb-3">
          <p class="m-0 "><i class="bi bi-toggle-on"></i> Se souvenir de moi</p>
          <a href=""><span class="forgot-password">Mot de passe oublié</span></a>
        </div>
        <!-- Bouton -->
        <button type="submit" class="btn btn-login w-100">Se connecter</button>
      </form>
  
      <!-- Footer -->
      <footer class="login-footer mt-4 text-center">
        <p>Un service de <strong>MEGA OCTET SOLUTION</strong>,<br>
        Agence de création de solutions digitales.<br>
        © 2025 Tous droits réservés.</p>
      </footer>
    </div>
  </div>
  
</body>
</html>