.search-container {
    width: 100%;
    max-width: 500px;
    margin-bottom: 50px;
  }
  
  .search-box {
    width: 100%;
  }
  
  /* Boutons dans la barre */
  .btn-icon {
    background-color: #104547;
    color: white;
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-icon:hover {
    background-color: #0c3537;
    color: #fff;
  }
  
  /* Champ de recherche */
  .search-box input {
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 0;
    flex-grow: 1;
    box-shadow: none;
  }
  
  .search-box input:focus {
    border-color: #104547;
    outline: none;
    box-shadow: none;
  }