<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion Coach</title>
</head>

<body>
  <app-header></app-header>
  <app-header-grand-projet></app-header-grand-projet>
  <h2 class="text-center">Liste des coachs</h2>
  <p class="text-center"> 6 coachs choisis </p>

  <div class="d-flex justify-content-center flex-wrap gap-3 mt-4 mb-4">

    <!-- Bouton Exporter notes -->
    <button type="button" class="btn btn-sm text-white" style="background-color:#F09D13;">
      <i class="bi bi-display-fill me-2"></i> Valider les choix
    </button>

    <!-- Bouton Exporter par classe -->
    <button type="button" class="btn btn-sm text-white" style="background-color:#104547;">
      <i class="bi bi-hand-index me-2"></i> Choisir les salles
    </button>

    <!-- Bouton Verrouiller projet -->
    <button type="button" class="btn btn-sm text-white" style="background-color:#16C098;">
      <i class="bi bi-diagram-3 me-2"></i> Former les Jurys
    </button>
  </div>

  <!-- recherche -->

  <div class="d-flex justify-content-center">
    <div class="search-container d-flex align-items-center">
      <div class="search-box position-relative flex-grow-1 d-flex align-items-center">
      <div class="input-group shadow-sm rounded-pill">
          <input type="text" class="form-control border-0 rounded-start-pill ps-3"
              placeholder="Rechercher..." style="font-size: 15px; background-color: #f8f9fa;">
          <button class="btn rounded-end-pill" type="button"
              style="background-color: #E63462; color: white; font-weight: 500;">
              <i class="bi bi-search"></i>
          </button>
      </div>
   <!-- Bouton extérieur -->
      <button class="btn btn-light border ms-2 no-radius" style="background-color: #104547; color: white">
        <i class="bi bi-sliders"></i>
      </button>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="table-responsive w-75">
      <table class="table align-middle mb-4">
        <thead class="table-light">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Telephone</th>
            <th scope="col">Email</th>
            <th scope="col">Etat</th>
            <th scope="col">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">Lamine</th>
            <td>778906534</td>
            <td>lamine@gmail.com</td>
            <td>Senior</td>
            <td><i class="bi bi-check-square-fill"></i></td>

          </tr>

          <tr>
            <th scope="row">Malick </th>
            <td>778906534</td>
            <td>malick@gmail.com</td>
            <td>Senior</td>
            <td><i class="bi bi-check-square-fill"></i></td>

          </tr>

          <tr>
            <th scope="row">Anta</th>
            <td>778906534</td>
            <td>anta@gmail.com</td>
            <td>Moyen</td>
            <td><i class="bi bi-check-square-fill"></i></td>
          </tr>

          <tr>
            <th scope="row">Cecilia</th>
            <td>778906534</td>
            <td>cecilia@gmail.com</td>
            <td>Debutant</td>
            <td><i class="bi bi-check-square-fill"></i></td>

          </tr>
          <tr>
            <th scope="row">Mouhamed</th>
            <td>778906534</td>
            <td>mouhamed@gmail.com</td>
            <td>Senior</td>
            <td><i class="bi bi-check-square-fill"></i></td>

          </tr>

          <tr>
            <th scope="row">Ali</th>
            <td>778902234</td>
            <td>ali@gmail.com</td>
            <td>Senior</td>
            <td><i class="bi bi-check-square-fill"></i></td>

          </tr>
          <tr>
            <th scope="row">Moustapha</th>
            <td>778906534</td>
            <td>moustapha@gmail.com</td>
            <td>Senior</td>
            <td><i class="bi bi-check-square-fill"></i></td>

          </tr>

          <tr>
            <th scope="row">Aida</th>
            <td>778999534</td>
            <td>aida@gmail.com</td>
            <td>Debutant</td>
            <td><i class="bi bi-check-square-fill"></i></td>

          </tr>
          <tr>
            <th scope="row">William</th>
            <td>778906500</td>
            <td>william@gmail.com</td>
            <td>Senior</td>
            <td><i class="bi bi-check-square-fill"></i></td>



          </tr>


        </tbody>

      </table>
      <nav aria-label="Page navigation examp">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</body>

</html>
<app-footer></app-footer>