<nav class="navbar navbar-expand-md navbar-light bg-white navbar-bottom-border">
    <a class="navbar-brand" [routerLink]="['/app/home']" routerLinkActive="active"><img src="assets/images/Logo_Band-it.png" alt="logo" class="logo-img"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/app/home']" routerLinkActive="active">Acceuil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="user?.role != 'ROLE_VISITEUR'">
          <a class="nav-link text-dark" [routerLink]="['/app/liste-membre']" routerLinkActive="active">Créer une liste</a>
        </li>
        <li class="nav-item" *ngIf="user?.role != 'ROLE_VISITEUR'">
          <a class="nav-link text-dark" [routerLink]="['/app/liste-select']" routerLinkActive="active">Unused </a>
        </li>
        <li class="nav-item" *ngIf="user?.role == 'ROLE_ADMIN'">
          <a class="nav-link text-dark" [routerLink]="['/app/donnees']" routerLinkActive="active">Base de données </a>
        </li>
        <li class="nav-item" *ngIf="user?.role == 'ROLE_ADMIN'">
          <a class="nav-link text-dark" [routerLink]="['/app/users']" routerLinkActive="active">Utilisateurs</a>
        </li>
      </ul>
      
    </div>

    <div class="d-flex flex-center">
      <h5 class="me-4">{{ user?.ecoleT }}</h5>
      <button class="btn me-2" type="button" id="profileButton"
      [routerLink]="['/app/form-update']" routerLinkActive="active">
        <i class="bi bi-person-circle fs-3"></i>
      </button>
      <a (click)="onLogout()" class="btn btn-danger" 
        role="button" style="color: white;">
          Deconnexion
      </a>
    </div>
</nav>