<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light mt-5">
    <div class="container-fluid bg-gray mt-4">

      <!-- Menu -->
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="#">Groupes</a></li>
          <li class="nav-item"><a class="nav-link" href="#"> Jounées</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Notess</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Coachs & Jurys</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Finalistes</a></li>
        </ul>
        <!-- Menu icon -->
        <li class="nav-item d-flex align-items-center gap-3 p-2" style="list-style: none;">
          <a href="#" class="icon-btn text-dark d-flex align-items-center justify-content-center text-decoration-none"
            style="background-color: #adb5bd;">
            <i class="bi bi-globe"></i>
          </a>
          <a href="#" class="icon-btn text-dark d-flex align-items-center justify-content-center text-decoration-none"
            style="background-color: #adb5bd;">
            <i class="bi bi-chat-left-heart"></i>
          </a>
          <a href="#"
            class="icon-btn bg-warning text-white d-flex align-items-center justify-content-center text-decoration-none">
            <i class="bi bi-box"></i>
          </a>
        </li>


      </div>
    </div>
  </nav>
</body>

</html>