
<!-- <router-outlet></router-outlet> -->
<!-- <app-accueil></app-accueil> -->
<!-- <app-gestion-journee></app-gestion-journee>  -->
<!-- <app-gestion-notes></app-gestion-notes> -->
<!-- <app-gestion-coachs></app-gestion-coachs> -->
<!-- <app-gestion-salles></app-gestion-salles> -->
<!-- <app-les-jurys></app-les-jurys> -->
<!-- <app-jury-finaliste></app-jury-finaliste> -->
<app-gestion-groupe></app-gestion-groupe>
<!-- <app-preview></app-preview> -->
<!-- <app-groupe-emargement></app-groupe-emargement> -->
<!-- <app-creer-projet></app-creer-projet> -->
<!-- <app-projet-selection></app-projet-selection> -->
<!-- <app-projet-list></app-projet-list> -->
<!-- <app-login></app-login> -->
<!-- <app-creerprojet-select></app-creerprojet-select> -->
<!-- <app-donnee-annee></app-donnee-annee> -->
<!-- <app-donnee-organisation></app-donnee-organisation> -->
<!-- <app-donnee-coachs></app-donnee-coachs> -->
<!-- <app-donnee-etages></app-donnee-etages> -->
<!-- <app-donnee-salles></app-donnee-salles> -->
<!-- <app-importation-groupe></app-importation-groupe> -->
<!-- <app-interface-utilisateurs></app-interface-utilisateurs> -->
<!-- <app-interface-utilisateurs-bloquer></app-interface-utilisateurs-bloquer> -->
<!-- <app-header-utilisateurs></app-header-utilisateurs> -->