<div class="container-fluid min-vh-100">
    <app-nav></app-nav>

    <div class="mt-5 row justify-content-center align-items-center h-100">
        <div class="d-flex flex-column align-items-center my-3">
            <h4 class="underline-bold">Modifier votre profil</h4>
            <p class="fst-italic">Modifier les champs que vous souhaitez actualiser</p>
        </div>

        <div class="flex-center my-3">
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" style="width: 22rem;">
                <div *ngIf="error" class="text-danger">{{errorMsg}}</div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="username">Nom d'utilisateur:</label>
                    <input formControlName="username" id="username" 
                        class="form-control" />
                </div>
                <div class="mb-2">
                    <label class="form-label" for="pswd1">Mot de passe actuel:</label>
                    <input formControlName="pswd1" id="pswd1" 
                        class="form-control" />
                </div>
                <div class="mb-4">
                    <label class="form-label" for="pswd2">Nouveau mot de passe:</label>
                    <input formControlName="pswd2" id="pswd2" placeholder="Min. 6 caracteres" 
                        class="form-control" type="password" minlength="6"/>
                </div>
                <div *ngIf="updateForm.get('pswd2')?.errors?.['minlength'] && updateForm.get('pswd2')?.touched" class="text-danger">
                    Au moins 6 caractères requis.
                </div>
                
                <button (click)="onSubmit()" data-mdb-ripple-init type="button" 
                class="btn btn-primary btn-block mb-4">Confirmer</button>
            </form>   
        </div>
    </div>

    <app-foot></app-foot>
</div>
