<section class="vh-100">
    <div class="vh-100">    
        <div class="vh-100 d-flex ">
            <div class="vh-100 w-25 parent-container img-div">
                <div class="scrolling-text mt-5 scroll-left">
                    <p class="mt-3">"Diversité et harmonie pour un apprentissage optimal"</p>
                </div>
                <div class="scrolling-text middle-child scroll-right">
                    <p>"Formez, Mélangez, Réussissez"</p>
                </div>
                <div class="scrolling-text bottom-child scroll-left">
                    <p class="mt-3">"Unis dans la diversité, forts dans l'apprentissage"</p>
                </div>
            </div>
            <div class="w-75 position-relative">
                <div class="d-flex bg-slate-500">
                    <div class="w-75 mt-5 ml-5">
                        <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="centered-form mt-5 w-50 bg-slate-800">
                            <div class="ms-n2">
                                <h4 class="title-label mb-3 pb-3 fs-2">Se connecter à Band<span style="color: #fb971f;">-it</span></h4>
                            </div>
                
                            <div data-mdb-input-init class="form-outline mb-4">
                                <div *ngIf="error" class="text-danger">
                                    Nom d'utilisateur ou mot de passe invalide
                                </div>
                                <label class="form-label custom-label" for="username">Nom d'utilisateur</label>
                                <input required type="email" id="username" #usernameInput="ngModel" [(ngModel)]="username" name="username" class="form-control form-control-lg custom-input" placeholder="johndoe" />
                                <div *ngIf="usernameInput.invalid && usernameInput.touched" class="text-danger">
                                    Le nom d'utilisateur ou l'email est requis.
                                </div>
                            </div>
                
                            <div data-mdb-input-init class="form-outline mb-4">
                                <div class="d-flex" style="height: 2rem;">
                                    <label class="form-label custom-label" for="password">Mot de passe</label>
                                    <p class="small mb-5 pb-lg-2 p-2 ms-auto"><a class="text-dark text-decoration-underline" href="#!">Oublié?</a></p>
                                </div>
                                <input required type="password" id="password" #passwordInput="ngModel" [(ngModel)]="password" name="password" minlength="5" class="form-control form-control-lg custom-input" placeholder="Min. 5 caracteres" />
                                <div *ngIf="passwordInput.invalid && passwordInput.touched" class="text-danger">
                                    Le mot de passe doit comporter au moins 5 caractères.
                                </div>
                            </div>
                
                            <div class="pt-1 mb-4">
                                <button class="custom-btn btn btn-info btn-lg btn-block" type="submit" [disabled]="loginForm.invalid">Se connecter</button>
                            </div>
            
                        </form>
                    </div>
                    <div class="text-center w-25">
                        <img src="assets/images/Logo_Band-it.png" class="w-25 mt-3" alt="band-it">
                        <p class="fst-italic w-75 mx-auto">"Créez des équipes, cultivez des talents"</p>
                    </div>
                </div>
                <div class="d-flex position-absolute bottom-0 start-50 translate-middle-x w-75">
                    <p class="centered-small fst-italic fs-6">Un service de Méga Octet Solution - Agence de Création des Solutions Digitales - &#64; 2025 Tous droits réservés</p>
                    <img class="icon-img" src="assets/images/logo_MOS.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
