<div class="mt-5 row justify-content-center align-items-center h-100">
  <div class="flex-center my-3 flex-column">
      <div class="d-flex flex-column align-items-center my-3">
        <h4 *ngIf="groupResponse" class="underline-bold">{{ 'Notes: ' + groupResponse.results[0].listeT}}</h4>
        <p class="w-50 fst-italic text-center flex-center">Après enregistrement, la note attribuée au groupe sera automatiquement comptabilisée et affectée à tous les membres. Par la suite, cette note sera ajustée individuellement en tenant compte du nombre d’absences de chaque membre, afin de calculer une note finale spécifique à chacun d’eux.</p>
      </div>

      <div *ngIf="msg.length >1" class="flex-center align-items-center">
          <p class="fw-bold text-danger">{{ msg }} </p>
      </div>

      <div class="flex-center my-3">
          <a id="orange-btn" class="btn btn-success col-md-3 me-5" 
          [class.disabled] = "listeResponse?.results?.isComplet"
          (click)="onSubmit()" role="button" style="color: white;">
              Enregistrer les notes
          </a>
          <button (click)="printXls('results')" class="btn btn-info col-md-3 me-2">Exporter les notes</button>
          <button (click)="printXls('classes')" class="btn btn-info col-md-3 me-2">Exporter par classe</button>
          <a class="btn btn-danger col-md-3"
          *ngIf="!listeResponse?.results?.isComplet"
          data-bs-toggle="modal" data-bs-target="#ynvModal"
          role="button" style="color: white;">
              Verrouiller la liste</a>
          <a class="btn btn-danger col-md-3"
          *ngIf="listeResponse?.results?.isComplet"
          (click)="archiverListe(liste, 'deverr')"
          role="button" style="color: white;">
              Deverrouiller la liste</a>
      </div>
  </div>
  
  <div class="d-flex flex-column justify-content-center align-items-center">
      <table class="table col-md-5 mb-5">
          <thead class="thead-dark">
              <tr>
                  <th scope="col">Libellé</th>
                  <th scope="col">Note</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let grp of groupResponse?.results; let i = index">
                  <td>{{grp.libelle}}</td>
                  <td><input (input)="onNoteChange(grp.id, $event)" type="number" step="0.1" 
                      min="0" max="20" [value]="grp.note" /></td>
              </tr>
          </tbody>
      </table>
  </div>

  <div class="pagination-div" style="margin-bottom: 8rem;">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li *ngIf="groupResponse && groupResponse.currentPage !== undefined" class="page-item" [ngClass]="{'disabled': groupResponse.currentPage === 0}">
          <a class="page-link" (click)="paginate(groupResponse.currentPage - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>

        @for (item of pages(1,groupResponse?.totalPages); track $index){
          <li class="page-item" [ngClass]="{'active':item-1==groupResponse?.currentPage}">
            <a (click)="paginate(item-1)" class="page-link">{{item}}</a>
          </li>
        }
        
        <li *ngIf="groupResponse && groupResponse.currentPage !== undefined" class="page-item" [ngClass]="{'disabled': groupResponse.currentPage +1 === groupResponse.totalPages}">
          <a class="page-link" (click)="paginate(groupResponse.currentPage + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>    
</div>


<!-- Modal ynv-->
<div class="modal fade" id="ynvModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content row">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Verrouillage</h5>
          <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <h4 class="form-label custom-label">Êtes-vous sûr de vouloir verrouiller cette liste ?</h4>
          <p>Note : Verrouiller cette liste signifie que l’événement correspondant sera considéré comme terminé. Par conséquent, aucune modification ultérieure ne sera autorisée.</p>
      </div>
      <div class="modal-footer d-flex">
          <button (click)="archiverListe(liste, 'verr')" type="button" class="btn btn-success">Oui</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
      </div>
  </div>
  </div>
</div>
