<div class="container-fluid min-vh-100">
    <app-nav></app-nav>

    <div class="mt-5 row justify-content-center align-items-center h-100">
        <div class="flex-center my-3">
            <h4 class="underline-bold">Creer une liste des membres</h4>
        </div>
        <div class="flex-center my-3">
            <div class="file-upload w-25">
                <div class="file-select">
                  <div class="file-select-button" id="fileName">Choose File</div>
                  <div class="file-select-name" id="noFile">No file chosen...</div> 
                  <input type="file" name="chooseFile" id="chooseFile">
                </div>
            </div>
        </div>

        <div class="flex-center my-3">
            <p class="me-3 fs-5">Nom de la liste</p>
            <input type="text" class="me-5 form-control input-black-border col-md-3" placeholder="">
            <a class="btn btn-orange col-md-1" href="#" role="button">
                Enregistrer
            </a>
        </div>
        <div class="flex-center">
            <div class="bg-black d-flex me-2 align-items-center border-black thick-border">
                <p class="text-white mb-0 me-4">Criteres 1</p>
                <a class="btn btn-orange" role="button">X</a>
            </div>
            <div class="bg-black d-flex me-2 align-items-center border-black thick-border">
                <p class="text-white mb-0 me-4">Criteres 2</p>
                <a class="btn btn-orange" role="button">X</a>
            </div>
            <div class="bg-black d-flex me-2 align-items-center border-black thick-border">
                <p class="text-white mb-0 me-4">Criteres 3</p>
                <a class="btn btn-orange" role="button">X</a>
            </div>
            <div class="bg-black d-flex me-2 align-items-center border-black thick-border">
                <p class="text-white mb-0 me-4">Criteres 4</p>
                <a class="btn btn-orange" role="button">X</a>
            </div>
        </div>

        <div class="flex-center mt-2">
            <input type="text" class="form-control input-black-border col-md-2 me-2" placeholder="Prenom">
            <input type="text" class="form-control input-black-border col-md-2 me-2" placeholder="Nom">
            <input type="text" class="form-control input-black-border col-md-1 me-5" placeholder="">
            <a class="btn btn-danger" role="button">X</a>
        </div>

        <div class="mt-2 w-50 mx-auto">
            <a class="btn btn-success text-white me-3" role="button">Ajouter une ligne</a>
            <a class="btn btn-secondary text-white" role="button">Ajouter une colonne</a>
        </div>
    </div>

</div>

<app-foot></app-foot>
